/* CSS files add styling rules to your content */

html {
	width: 100%;
	height: 100%;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 10px;
  background: lemonchiffon;
  overflow: hidden;
}

body {
  font-family: "Helvetica", arial, sans-serif;
  margin: 2em;
  background: lemonchiffon;
/*   color: lightyellow; */
  color: #ffffed;
  color: black;
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}
/* white a blur on the text, white gradient on the background */


.times {
  font-family: "Times New Roman", serif;
}

.helvetica {
  font-family: "Helvetica", sans-serif;
}

.georgia {
  font-family: "Georgia";
}

.monospace {
  font-family: monospace;
  font-size: 90%;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.container {
  position: absolute;
  width: 1000px;
  height: 1000px;
}

.sheet {
  position: absolute;
  z-index: 100;
  right: 5vw;
  bottom: 5vh;
}

.sheet iframe {
  position: relative;
  width: 40vw;
  height: 20vh;
  left: 0;
  top: 0;
}

.sheet-osebo {
  position: absolute;
  width: 70%;
  height: auto;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.face-cube {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5vw;
  top: 5vw;
  z-index: 100;
}

.face-cube iframe {
  border: 0;
  position: relative;
  transform: scale(1.5);
}


body p {
  position: absolute; 
  font-size: 36px;
  line-height: 54px;
  width: 200%;
  opacity: 1;
  color: lemonchiffon;
  z-index: 0;
/*   transition: all 200ms ease-in-out; */
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
  body p {
    font-size: 16px;
    line-height: 24px;
    width: 400%;
  }
  
  .container {
    width: 300%;
  }
}

body p span {
  font-style: italic;
/*   color: lemonchiffon; */
/*   background: lightyellow; */
  background: #FFEB3B;
/*   padding: 2px 8px; */
/*   font-weight: bold; */
  color: black;
  
}

body p span:nth(1) {
  background: white;
}

.show {
  opacity: 1;
  color: black;
  z-index: 10;
}

/* media(all and 300px){
  font-size: 16px;
  line-height: 24px;
} */

.links {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 1.75rem;
  line-height: 3rem;
  cursor: pointer;
  z-index: 10000;
  text-align: right;
}

.links a {
  color: black;
  text-decoration: underline;
  text-shadow: 1px 1px 2px #FFEB3B;
}

.links a:hover {
  text-decoration: none;
}

.our-plant {
  position: absolute;
  bottom: 0;
  left: 0;
}